.App {
  text-align: center;
}


  
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: teal;
  color: #fff;
  }
  
  .nav-links Link {
  /* color: #4d1111; */
  }
  
  /* LOGO */
  .logo {
  font-size: 32px;
  }
  
  /* NAVBAR MENU */
  .menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  }
  
  